body{
    margin: 0;
    
   
    /* width: 100vw;
    height: 100vh; */
}
.main{
    background-image:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,8)),url("https://i.ibb.co/vXqDmnh/background.jpg");
    background-size: cover;
    background-position: center;
     }
.img-logo{
    width: 14%;
}
.btn-sign{
    padding: 8px 20px 8px 20px;
    background-color: #e50914;
    color: aliceblue;
    border-radius:  5px;
    cursor: pointer;
    width: fit-content;
}
.navbar{
    
    /* height: 10vh; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 4vw;
    flex-direction: row;
}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-title{
    color: white;
    text-align: center;
    width: 50%;
}
.content-title{
font-size: 1.5em;
}
.subtitles{
    font-family: Arial, Helvetica, sans-serif;
}
.input-search{
 width: 50%;
 height: fit-content;
 background-color: aliceblue;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-radius: 3px;
}
.email-input{
    outline: none;
    border: none;
    padding: 20px 10px;
    font-size: 1em;
}
.get-btn{
    cursor: pointer;
    padding: 18px 32px;
    height: fit-content;
    background-color:#e50914;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}
.get-btn:hover{
    background-color: rgb(119, 5, 5);
}
.lang{
    width: 100px;
    color: aliceblue;
    background-color: #001617;
    height: 40px;
    border-radius: 2px;
    
}
.second-content{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
   
    text-align: center;
   
}
.second-h1{

    width:100px;
}
.second-h2{
    width: 300px;
}
